In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [4]:
obj = Series([2,4,6,8])

obj

0    2
1    4
2    6
3    8
dtype: int64

In [5]:
obj.values

array([2, 4, 6, 8], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([817000000,43000000,21553332,2100000,400671],index=['USSR','Germany','China','Japan','USA'])

In [8]:
ww2_cas

USSR       817000000
Germany     43000000
China       21553332
Japan        2100000
USA           400671
dtype: int64

In [9]:
ww2_cas['USA']

400671

In [10]:
ww2_cas[ww2_cas >4000000]

USSR       817000000
Germany     43000000
China       21553332
dtype: int64

In [12]:
'USSR' in ww2_cas

True

In [13]:
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'USSR': 817000000,
 'Germany': 43000000,
 'China': 21553332,
 'Japan': 2100000,
 'USA': 400671}

In [14]:
ww2_series = Series(ww2_dict)

ww2_series

USSR       817000000
Germany     43000000
China       21553332
Japan        2100000
USA           400671
dtype: int64

In [15]:
countries = ['China', 'Poland','Japan','USA', 'Russia','Armenia']

In [16]:
obj2 = Series(ww2_dict,index=countries)

obj2

China      21553332.0
Poland            NaN
Japan       2100000.0
USA          400671.0
Russia            NaN
Armenia           NaN
dtype: float64

In [17]:
pd.isnull(obj2)

China      False
Poland      True
Japan      False
USA        False
Russia      True
Armenia     True
dtype: bool

In [18]:
pd.notnull(obj2)

China       True
Poland     False
Japan       True
USA         True
Russia     False
Armenia    False
dtype: bool

In [19]:
ww2_series + obj2

Armenia           NaN
China      43106664.0
Germany           NaN
Japan       4200000.0
Poland            NaN
Russia            NaN
USA          801342.0
USSR              NaN
dtype: float64

In [20]:
obj2.name = "World War II Casualties"

obj2

China      21553332.0
Poland            NaN
Japan       2100000.0
USA          400671.0
Russia            NaN
Armenia           NaN
Name: World War II Casualties, dtype: float64

In [21]:
obj2.index.name = 'Countries'

In [22]:
obj2

Countries
China      21553332.0
Poland            NaN
Japan       2100000.0
USA          400671.0
Russia            NaN
Armenia           NaN
Name: World War II Casualties, dtype: float64

DATA FRAMES

In [23]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [26]:
import webbrowser
website = 'http://en.wikipedia.org'
webbrowser.open(website)

True

In [27]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [28]:
nfl_frame = pd.read_clipboard()

In [29]:
nfl_frame

     1           Dallas Cowboys    898  512  380   6   .573  1960   NFC East
0    2            Chicago Bears  1,386  761  583  42  0.564  1920  NFC North
1    3        Green Bay Packers  1,352  743  571  38  0.564  1921  NFC North
2    4  New England Patriots[b]    900  500  391   9  0.561  1960   AFC East
3    5           Miami Dolphins    816  452  360   4  0.556  1966   AFC East
4    6        Minnesota Vikings    886  478  397  11  0.546  1961  NFC North
5    7         Baltimore Ravens    368  200  167   1  0.545  1996  AFC North
6    8          New York Giants  1,321  692  596  33  0.536  1925   NFC East
7    9           Denver Broncos    900  476  414  10  0.534  1960   AFC West
8   10      San Francisco 49ers  1,018  532  472  14  0.529  1950   NFC West
9   11    Indianapolis Colts[c]    982  516  459   7  0.529  1953  AFC South
10  12      Pittsburgh Steelers  1,208  628  558  22  0.529  1933  AFC North

In [30]:
nfl_frame = pd.read_clipboard()

ParserError: Expected 11 fields in line 5, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [31]:
nfl_frame = pd.read_clipboard()

In [32]:
nfl_frame

Empty DataFrame
Columns: [nfl_frame, =, pd.read_clipboard()]
Index: []

In [33]:
nfl_frame = pd.read_clipboard()

In [34]:
nfl_frame

Empty DataFrame
Columns: [nfl_frame, =, pd.read_clipboard()]
Index: []

In [35]:
nfl_frame = pd.read_clipboard()
nfl_frame

Empty DataFrame
Columns: [nfl_frame, =, pd.read_clipboard()]
Index: []

In [37]:
nfl_frame = pd.read_clipboard()
nfl_frame

ParserError: Expected 11 fields in line 5, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [1]:
nfl_frame = pd.read_clipboard()

NameError: name 'pd' is not defined

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
nfl_frame = pd.read_clipboard()

ParserError: Expected 11 fields in line 5, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [4]:
nfl_frame = pd.read_clipboard()

ParserError: Expected 11 fields in line 5, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [5]:
nfl_frame = pd.read_clipboard()

In [6]:
nfl_frame

    1           Dallas Cowboys    898  512  380   6   .573  1960   NFC East
0   2            Chicago Bears  1,386  761  583  42  0.564  1920  NFC North
1   3        Green Bay Packers  1,352  743  571  38  0.564  1921  NFC North
2   4  New England Patriots[b]    900  500  391   9  0.561  1960   AFC East
3   5           Miami Dolphins    816  452  360   4  0.556  1966   AFC East
4   6        Minnesota Vikings    886  478  397  11  0.546  1961  NFC North
5   7         Baltimore Ravens    368  200  167   1  0.545  1996  AFC North
6   8          New York Giants  1,321  692  596  33  0.536  1925   NFC East
7   9           Denver Broncos    900  476  414  10  0.534  1960   AFC West
8  10      San Francisco 49ers  1,018  532  472  14  0.529  1950   NFC West
9  11    Indianapolis Colts[c]    982  516  459   7  0.529  1953  AFC South

In [7]:
nfl_frame.columns

Index(['1', 'Dallas Cowboys', '898', '512', '380', '6', '.573', '1960',
       'NFC East'],
      dtype='object')

In [11]:
nfl_frame['Dallas Cowboys']

0              Chicago Bears
1          Green Bay Packers
2    New England Patriots[b]
3             Miami Dolphins
4          Minnesota Vikings
5           Baltimore Ravens
6            New York Giants
7             Denver Broncos
8        San Francisco 49ers
9      Indianapolis Colts[c]
Name: Dallas Cowboys, dtype: object

In [13]:
nfl_frame['898']

0    1,386
1    1,352
2      900
3      816
4      886
5      368
6    1,321
7      900
8    1,018
9      982
Name: 898, dtype: object

In [14]:
DataFrame(nfl_frame,columns=['898','NFC East'])

     898   NFC East
0  1,386  NFC North
1  1,352  NFC North
2    900   AFC East
3    816   AFC East
4    886  NFC North
5    368  AFC North
6  1,321   NFC East
7    900   AFC West
8  1,018   NFC West
9    982  AFC South

In [15]:
DataFrame(nfl_frame,columns=['898','NFC East','Team'])

     898   NFC East  Team
0  1,386  NFC North   NaN
1  1,352  NFC North   NaN
2    900   AFC East   NaN
3    816   AFC East   NaN
4    886  NFC North   NaN
5    368  AFC North   NaN
6  1,321   NFC East   NaN
7    900   AFC West   NaN
8  1,018   NFC West   NaN
9    982  AFC South   NaN

In [16]:
nfl_frame

    1           Dallas Cowboys    898  512  380   6   .573  1960   NFC East
0   2            Chicago Bears  1,386  761  583  42  0.564  1920  NFC North
1   3        Green Bay Packers  1,352  743  571  38  0.564  1921  NFC North
2   4  New England Patriots[b]    900  500  391   9  0.561  1960   AFC East
3   5           Miami Dolphins    816  452  360   4  0.556  1966   AFC East
4   6        Minnesota Vikings    886  478  397  11  0.546  1961  NFC North
5   7         Baltimore Ravens    368  200  167   1  0.545  1996  AFC North
6   8          New York Giants  1,321  692  596  33  0.536  1925   NFC East
7   9           Denver Broncos    900  476  414  10  0.534  1960   AFC West
8  10      San Francisco 49ers  1,018  532  472  14  0.529  1950   NFC West
9  11    Indianapolis Colts[c]    982  516  459   7  0.529  1953  AFC South

In [17]:
nfl_frame.head(3)

   1           Dallas Cowboys    898  512  380   6   .573  1960   NFC East
0  2            Chicago Bears  1,386  761  583  42  0.564  1920  NFC North
1  3        Green Bay Packers  1,352  743  571  38  0.564  1921  NFC North
2  4  New England Patriots[b]    900  500  391   9  0.561  1960   AFC East

In [18]:
nfl_frame.tail(3)

    1         Dallas Cowboys    898  512  380   6   .573  1960   NFC East
7   9         Denver Broncos    900  476  414  10  0.534  1960   AFC West
8  10    San Francisco 49ers  1,018  532  472  14  0.529  1950   NFC West
9  11  Indianapolis Colts[c]    982  516  459   7  0.529  1953  AFC South

In [19]:
nfl_frame.ix[3]

C:\Users\DamianAleksanderMiko\Anaconda3\envs\testenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1                              5
Dallas Cowboys    Miami Dolphins
898                          816
512                          452
380                          360
6                              4
.573                       0.556
1960                        1966
NFC East                AFC East
Name: 3, dtype: object

In [20]:
nfl_frame['512'] = "532"

In [21]:
nfl_frame

    1           Dallas Cowboys    898  512  380   6   .573  1960   NFC East
0   2            Chicago Bears  1,386  532  583  42  0.564  1920  NFC North
1   3        Green Bay Packers  1,352  532  571  38  0.564  1921  NFC North
2   4  New England Patriots[b]    900  532  391   9  0.561  1960   AFC East
3   5           Miami Dolphins    816  532  360   4  0.556  1966   AFC East
4   6        Minnesota Vikings    886  532  397  11  0.546  1961  NFC North
5   7         Baltimore Ravens    368  532  167   1  0.545  1996  AFC North
6   8          New York Giants  1,321  532  596  33  0.536  1925   NFC East
7   9           Denver Broncos    900  532  414  10  0.534  1960   AFC West
8  10      San Francisco 49ers  1,018  532  472  14  0.529  1950   NFC West
9  11    Indianapolis Colts[c]    982  532  459   7  0.529  1953  AFC South

In [23]:
nfl_frame['NFC East'] = np.arange(10)

In [24]:
nfl_frame

    1           Dallas Cowboys    898  512  380   6   .573  1960  NFC East
0   2            Chicago Bears  1,386  532  583  42  0.564  1920         0
1   3        Green Bay Packers  1,352  532  571  38  0.564  1921         1
2   4  New England Patriots[b]    900  532  391   9  0.561  1960         2
3   5           Miami Dolphins    816  532  360   4  0.556  1966         3
4   6        Minnesota Vikings    886  532  397  11  0.546  1961         4
5   7         Baltimore Ravens    368  532  167   1  0.545  1996         5
6   8          New York Giants  1,321  532  596  33  0.536  1925         6
7   9           Denver Broncos    900  532  414  10  0.534  1960         7
8  10      San Francisco 49ers  1,018  532  472  14  0.529  1950         8
9  11    Indianapolis Colts[c]    982  532  459   7  0.529  1953         9

In [27]:
Dallas Cowboys = Series(["Chicago Bears","Miami Dolphins","New York Giants"],index=[4,0])

SyntaxError: invalid syntax (<ipython-input-27-6efa35ae7bb0>, line 1)

In [28]:
nfl_frame = pd.read_clipboard()

In [29]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [30]:
Divisions = Series(["EG","HG"],index=[4,0])

In [31]:
Divisions

4    EG
0    HG
dtype: object

In [32]:
nfl_frame['Division'] = Divisions

In [33]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,HG
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NaN
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NaN
3,4,New England Patriots[b],900,500,391,9,0.561,1960,NaN
4,5,Miami Dolphins,816,452,360,4,0.556,1966,EG

In [34]:
del nfl_frame['Division']

In [36]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season
0,1,Dallas Cowboys,898,512,380,6,0.573,1960
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921
3,4,New England Patriots[b],900,500,391,9,0.561,1960
4,5,Miami Dolphins,816,452,360,4,0.556,1966

In [37]:
data = {'City': ['SF','LA','NC'],'Population': ['87882','54321','54331']}

In [38]:
city_frame = DataFrame(data)
city_frame

  City Population
0   SF      87882
1   LA      54321
2   NC      54331

In [40]:
import webbrowser
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True

INDEX OBJECT

In [42]:
import numpy as np
from pandas import Series,DataFrame

import pandas as pd

In [43]:
my_seer = Series([1,3,5,7,9],index=['A','B','C','D','E'])
my_seer

A    1
B    3
C    5
D    7
E    9
dtype: int64

In [44]:
my_index = my_seer.index
my_index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [45]:
my_index[3]

'D'

In [46]:
my_index[2:]

Index(['C', 'D', 'E'], dtype='object')

In [47]:
my_index[:2]

Index(['A', 'B'], dtype='object')

In [48]:
my_index[0]

'A'

In [49]:
my_index[0] = 'Z'

TypeError: Index does not support mutable operations

Reindex

In [50]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [51]:
ser1 = Series([1,2,3,4,5,6],index=['A','B','C','D','E','F'])

ser1

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [52]:
ser2 = ser1.reindex(['A','B','C','D','E','F','G'])

In [53]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    6.0
G    NaN
dtype: float64

In [54]:
ser2.reindex(['A','B','C','D','E','F','G','H'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
F    6.0
G    NaN
H    0.0
dtype: float64

In [55]:
ser3 = Series(['USA','Mexico','Canada','Poland'],index=[0,5,10,15])

In [56]:
ser3

0        USA
5     Mexico
10    Canada
15    Poland
dtype: object

In [57]:
ranger = range(15)

In [58]:
ranger

range(0, 15)

In [59]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [60]:
ranger = range(20)
ranger

range(0, 20)

In [61]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
15    Poland
16    Poland
17    Poland
18    Poland
19    Poland
dtype: object

In [62]:
dframe = DataFrame(randn(30).reshape(6,5),index=['A','B','C','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.687261 -1.147175  0.020774 -0.337517 -0.344402
B -0.687382  1.841024  0.594482 -0.280029  0.279356
C  0.013189  1.573307  2.343140  1.255480 -0.539927
D  1.540121 -1.175796  0.436223 -0.261872 -0.353712
E -1.456854 -1.526433  1.017428 -0.095423  0.677594
F -0.219455 -0.570303  0.283897  0.892392  1.018827

In [63]:
dframe2 = dframe.reindex(['A','B','C','D','E','F','H'])
dframe2

       col1      col2      col3      col4      col5
A  0.687261 -1.147175  0.020774 -0.337517 -0.344402
B -0.687382  1.841024  0.594482 -0.280029  0.279356
C  0.013189  1.573307  2.343140  1.255480 -0.539927
D  1.540121 -1.175796  0.436223 -0.261872 -0.353712
E -1.456854 -1.526433  1.017428 -0.095423  0.677594
F -0.219455 -0.570303  0.283897  0.892392  1.018827
H       NaN       NaN       NaN       NaN       NaN

In [64]:
new_columns =['col1','col2','col3','col4','col5','col6']

In [65]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.687261 -1.147175  0.020774 -0.337517 -0.344402   NaN
B -0.687382  1.841024  0.594482 -0.280029  0.279356   NaN
C  0.013189  1.573307  2.343140  1.255480 -0.539927   NaN
D  1.540121 -1.175796  0.436223 -0.261872 -0.353712   NaN
E -1.456854 -1.526433  1.017428 -0.095423  0.677594   NaN
F -0.219455 -0.570303  0.283897  0.892392  1.018827   NaN
H       NaN       NaN       NaN       NaN       NaN   NaN

In [66]:
dframe

       col1      col2      col3      col4      col5
A  0.687261 -1.147175  0.020774 -0.337517 -0.344402
B -0.687382  1.841024  0.594482 -0.280029  0.279356
C  0.013189  1.573307  2.343140  1.255480 -0.539927
D  1.540121 -1.175796  0.436223 -0.261872 -0.353712
E -1.456854 -1.526433  1.017428 -0.095423  0.677594
F -0.219455 -0.570303  0.283897  0.892392  1.018827

In [68]:
dframe.ix[['A','B','C','D','E','F','H'],new_columns]

C:\Users\DamianAleksanderMiko\Anaconda3\envs\testenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: "['H'] not in index"

IN NEW PYTHON IT DOESN'T WORK

Drop entry

In [69]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [70]:
ser1 = Series(np.arange(6),index=['a','b','c','d','e','f'])

ser1

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int32

In [71]:
ser1.drop('d')

a    0
b    1
c    2
e    4
f    5
dtype: int32

In [74]:
dframe1 = DataFrame(np.arange(12).reshape((3,4)),index=['DF','HJ','PA'],columns=['pop','ipa','mnaz','MOA'])
dframe1

    pop  ipa  mnaz  MOA
DF    0    1     2    3
HJ    4    5     6    7
PA    8    9    10   11

In [77]:
dframe1.drop('HJ')

    pop  ipa  mnaz  MOA
DF    0    1     2    3
PA    8    9    10   11

In [78]:
dframe2 = dframe1.drop('PA')

In [79]:
dframe2

    pop  ipa  mnaz  MOA
DF    0    1     2    3
HJ    4    5     6    7

In [80]:
dframe1.drop('ipa',axis=1)

    pop  mnaz  MOA
DF    0     2    3
HJ    4     6    7
PA    8    10   11